In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1 + 1

2

In [4]:
1 * 3

3

In [5]:
1 / 2

0.5

In [6]:
2 ** 4

16

In [7]:
2 + 3 * 5 + 5

22

In [8]:
(2+3) * (5+5)

50

In [9]:
4 % 2

0

In [10]:
5 % 2

1

In [11]:
8 % 2

0

In [12]:
var = 2

In [13]:
var

2

In [14]:
x = 2
y = 3

In [15]:
x + y

5

In [16]:
x = x + x

In [17]:
x

4

In [18]:
x = x + x

In [19]:
x

8

In [21]:
var = 12

In [22]:
name_of_var = 12

In [23]:
# Strings COMMENT

In [24]:
'single quote'

'single quote'

In [25]:
"single quote"

'single quote'

In [26]:
"I can't go"

"I can't go"

In [27]:
x = 'hello'

In [28]:
x

'hello'

In [29]:
print(x)

hello

In [30]:
num = 12
name = 'Sam'

In [32]:
print('My number is {} and my name is {}'.format(num,name))

My number is 12 and my name is Sam

In [34]:
print('My number is {one} and my name is {two}, more {one}'.format(one=num,two=name))

My number is 12 and my name is Sam, more 12

In [35]:
s = 'hello'

In [36]:
s[0]

'h'

In [37]:
s[4]

'o'

In [38]:
p = 'abcdefghijk'

In [39]:
p[0:]

'abcdefghijk'

In [40]:
p[:3]

'abc'

In [42]:
p[0:3]

'abc'

In [43]:
p[3:6]

'def'

In [45]:
[1,2,3] #lists

[1, 2, 3]

In [47]:
['a','b','c']

['a', 'b', 'c']

In [48]:
my_list = ['a','b','c']

In [49]:
my_list

['a', 'b', 'c']

In [50]:
my_list.append('d')

In [51]:
my_list

['a', 'b', 'c', 'd']

In [52]:
my_list[0]

'a'

In [53]:
my_list[1:3]

['b', 'c']

In [54]:
my_list[0] = 'NEW'

In [55]:
my_list

['NEW', 'b', 'c', 'd']

In [56]:
nest = [1,2,[3,4]]

In [57]:
nest

[1, 2, [3, 4]]

In [58]:
nest[2]

[3, 4]

In [59]:
nest[2][1]

4

In [60]:
nest = [1,2,3,[4,5,['target']]]

In [61]:
nest[3]

[4, 5, ['target']]

In [62]:
nest[3][2]

['target']

In [63]:
nest[3][2][0]

'target'

In [64]:
print(nest[3][2][0])

target

In [65]:
#Dictionaries

In [66]:
d = {'key1':'value','key2': 123}

In [67]:
d['key1']

'value'

In [68]:
d['key2']

123

In [70]:
d = {'k1': [1,2,3]}

In [71]:
d['k1'][1]

2

In [72]:
d = {'k1': {'innerkey':[1,2,3]}}

In [75]:
d['k1']['innerkey'][1]

2

In [76]:
#Boolean

In [77]:
True

True

In [78]:
False

False

In [79]:
mylist = [1,2,3]

In [80]:
mylist[0]

1

In [81]:
t = (1,2,3) #Tuple

In [82]:
t[0]

1

In [84]:
mylist[0]

1

In [85]:
mylist[0]='NEW'

In [86]:
mylist

['NEW', 2, 3]

In [87]:
t[0] = 'NEW' #Tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [90]:
#Sets - collection of unique elements

In [91]:
{1,2,3}

{1, 2, 3}

In [92]:
{1,2,3,4,2,2,2,3,4,4}

{1, 2, 3, 4}

In [93]:
set([1,2,3,4,2,2,2,3,4,4])

{1, 2, 3, 4}

In [94]:
s = {1,2,3}

In [95]:
s.add(5)

In [96]:
s

{1, 2, 3, 5}

In [97]:
s.add(5)

In [98]:
s

{1, 2, 3, 5}

In [99]:
#comparision operators

In [100]:
1 > 2

False

In [101]:
1 < 2

True

In [102]:
1 >= 2

False

In [103]:
1 <= 1

True

In [104]:
1 == 1

True

In [105]:
1 == 2

False

In [106]:
1 = 1

SyntaxError: can't assign to literal (<ipython-input-106-ecdac3dcabfd>, line 1)

In [107]:
1 != 3

True

In [108]:
'hi' == 'bye'

False

In [109]:
'hi' != 'bye'

True

In [110]:
1 < 2 and 2 < 3

True

In [111]:
1 < 2 and 2 > 3

False

In [112]:
(1 < 2) and (2 > 3)

False

In [113]:
(1 < 2) or (2 > 3)

True

In [114]:
True and True

True

In [115]:
True or False

True

In [116]:
if 1<2:
    print('Yes')

Yes

In [117]:
if True:
    print('Perform code')

Perform code

In [118]:
if True:
    x = 2+2

In [119]:
x

4

In [120]:
if 1 == 2:
    print('First')
else:
    print('Last')

Last

In [121]:
if 1 != 2:
    print('First')
else:
    print('Last')

First

In [123]:
if 1 == 2:
    print('First')
elif 3 == 3:
    print('Middle')
else:
    print('Last')

Middle

In [124]:
seq = [1,2,3,4,5]

In [125]:
for item in seq:
    print(item)

1
2
3
4
5

In [126]:
i = 1

while i<5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [127]:
for x in seq:
    print(x)

1
2
3
4
5

In [128]:
range(0,5) #range function

range(0, 5)

In [130]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [131]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [132]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [133]:
x = [1,2,3,4]

In [135]:
out = []

for num in x:
    out.append(num**2)

In [136]:
print(out)

[1, 4, 9, 16]

In [138]:
[num**2 for num in x] #list comprehension

[1, 4, 9, 16]

In [139]:
#Functions

In [140]:
def my_func(param1):
    print(param1)

In [141]:
my_func('hello')

hello

In [144]:
def my_func(name):
    print('Hello ' + name)

In [145]:
my_func('Test')

Hello Test

In [146]:
def my_func(name='Default Name'):
    print('Hello ' + name)

In [147]:
my_func()

Hello Default Name

In [148]:
my_func

In [150]:
def square(num):
    return num**2

In [151]:
output = square(2)

In [152]:
output

4

In [153]:
def square(num):
    """
    THIS IS A DOC STRING.
    CAN GO MULTIPLE LINES
    THIS FUNCTION SQUARES A NUMBER
    """
    return num**2

In [155]:
square # Shift + Tab

In [156]:
range #shift + tab

range

In [158]:
#Lambda functions

In [159]:
# map()

In [160]:
seq = [1,2,3,4,5]

In [161]:
map(square,seq)

In [162]:
list(map(square,seq))

[1, 4, 9, 16, 25]

In [163]:
def times2(var): return var*2

In [165]:
lambda var:var*2 # Lambda Expressions

In [166]:
t = lambda var:var*2

In [167]:
t(6)

12

In [168]:
list(map(lambda num:num*3,seq))

[3, 6, 9, 12, 15]

In [169]:
#Filter functions

In [170]:
filter(lambda num:num%2 == 0,seq)

In [172]:
list(filter(lambda num:num%2 == 0,seq))

[2, 4]

In [173]:
s = 'hello my name is Sam'

In [174]:
s.lower()

'hello my name is sam'

In [175]:
s.upper()

'HELLO MY NAME IS SAM'

In [176]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [177]:
tweet = 'Go Sports ! #Sports'

In [178]:
tweet.split()

['Go', 'Sports', '!', '#Sports']

In [179]:
tweet.split('#')

['Go Sports ! ', 'Sports']

In [180]:
tweet.split('#')[1]

'Sports'

In [181]:
d = {'k1':1,'k2':2}

In [182]:
d

{'k1': 1, 'k2': 2}

In [184]:
d.keys()

dict_keys(['k1', 'k2'])

In [185]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [189]:
lst = d.values()

In [190]:
lst

dict_values([1, 2])

In [193]:
'x' in [1,2,3]

False

In [194]:
'x' in ['x','y','z']

True

In [195]:
#Tuple Unpacking

In [196]:
x=[(1,2),(3,4),(5,6)]

In [197]:
x[0]

(1, 2)

In [198]:
x[0][1]

2

In [199]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [200]:
for (a,b) in x:
    print(a)

1
3
5

In [201]:
for (a,b) in x:
    print(b)

2
4
6